@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  color:white;
  font-size: 2rem;
  font-family: 'Bebas Neue', sans-serif;

  @media (max-width: 700px) {
    font-size: 1rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  
  scroll-behavior: smooth;
  transition: scroll-behavior 0.5s ease-in-out;
}

.bg-main {
  background-image: url('../../public/bg-port.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

