@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  color:black;
  font-size: 2rem;
  font-family: 'Bebas Neue', sans-serif;

  @media (max-width: 700px) {
    font-size: 1rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color:black;
  scroll-behavior: smooth;
  transition: scroll-behavior 0.5s ease-in-out;
}

h1,h2,a {
  color: black;
}

p {
  font-family: 'monserrat', sans-serif;
  color: black;
  font-weight: 500;
  text-shadow: 2px 2px 15px gray;
}

.bg-main {
  background-image: url('../../public/meld-blur.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

