@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  color:rgb(255, 255, 255);
  font-size: 2rem;
  font-family: 'Comfortaa' , sans-serif;

  @media (max-width: 700px) {
    font-size: 1rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  transition: scroll-behavior 0.5s ease-in-out;
  background-color: rgba(19, 94, 134, 0.768)
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url('../../public/background-pattern.webp') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.1;
}

h1,h2,a {
  color: rgb(255, 255, 255);
  text-shadow: 2px 5px 8px rgba(0,0,0,0.4);
}

p {
  font-family: 'monserrat', sans-serif;
  color: rgb(255, 246, 246);
  font-weight: 500;
  text-shadow: 2px 5px 8px rgba(0,0,0,0.4);
  
}


